* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 120%;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Console", "Courier New", monospace;
  min-height: 100vh;
  background-color: #87cefa; /*#B0E0E6*/
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  display: inline-block;
  font-size: 65%;
}

img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

p {
  width: 10%;
  padding: 1%;
}

/* layout of box*/
main {
  position: relative;
  width: 70%;
  height: 75%;
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  overflow: auto;
  display: flex;
}

/* ELEMENTS */
.container {
  flex: 50%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  border-bottom: 1px solid black;
}

/* menu items */
.dropdown-menu {
  background-color: white;
  width: 100%;
  padding: 0.25rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0.75;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown-itself {
  background: none;
  border: none;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 10px;
}

.ingredients {
  text-align: center;
}

.ingredient {
  border: 2px solid green;
  border-radius: 10px;
  background-color: white;
  padding: 2px;
}

.ingredients img {
  display: block;
  margin: auto;
  border-radius: 8px;
}

.ingredient:hover {
  background-color: orange;
  cursor: pointer;
}
