* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 120%;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Console", "Courier New", monospace;
  height: 100vh;
  background-color: #87cefa; /*#B0E0E6*/
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  display: inline-block;
  font-size: 70%;
}

img {
  float: top;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* layout of the box itself*/
main {
  position: relative;
  width: 70%;
  height: 75%;
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  overflow: auto;
  display: flex;
}

/* elements */
.headers {
  flex: 50%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* making dynamic dropdown */
.dropdown {
  position: relative;
}

.dropdown-menu {
  left: 0;
  background-color: white;
  width: auto;
  padding: 0.25rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0.5;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 10px;
}

.spirits {
  text-align: center;
  display: inline-block;
  padding: 0.75 rem;
}

.spirits img {
  display: block;
  margin: auto;
}
